.App {
  text-align: center;
}

.a {
  color: aqua !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-disclogo {
    animation: App-disclogo-spin infinite 20s linear;
  }
}

@keyframes App-disclogo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
